@import 'variabiles.scss';

.footer {
  background-color: var(--btn);
  padding-right: 96px;
  color: var(--headingInverted);

  @media (max-width: 1200px) {
    padding-right: 40px;
  }

  &__our-team,
  &__info,
  &__copyright {
    background-color: var(--headingLigher);
  }

  &__our-team {
    border-radius: 0px 200px 0px 0px;
  }

  &__copyright {
    padding-bottom: 64px;
  }

  &__copyright-text {
    opacity: 0.4;
  }

  &_logo {
    font-weight: 700;
  }
}

.our-team {
  position: relative;
  padding-top: 89px;
  padding-bottom: 100px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 85%;
    background-color: rgb(255, 255, 255);
    opacity: 0.4;
  }

  &__container {
    padding-right: 197px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'title btn'
      'text btn';
    row-gap: 32px;

    @media (max-width: 992px) {
      padding-right: 50px;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-areas:
        'title'
        'text'
        'btn';
    }
  }

  &__heading {
    grid-area: title;
    max-width: 320px;
  }

  &__text {
    grid-area: text;
    margin: 0;
    color: var(--textInverted);
  }

  &__btn {
    grid-area: btn;
    align-self: center;
    justify-self: end;

    @media (max-width: 768px) {
      justify-self: start;
    }
  }
}

.info {
  &__logo {
    font-weight: 600;
  }
}

.info-column {
  &__heading {
    font-weight: 600;
  }
}