@import 'variabiles.scss';

.footer {
  background-color: var(--btn);
  padding-right: 96px;
  color: var(--headingInverted);

  @media (max-width: 1200px) {
    padding-right: 40px;
  }

  &__our-team,
  &__info,
  &__copyright {
    background-color: var(--headingLigher);
  }

  &__our-team {
    border-radius: 0px 200px 0px 0px;
  }

  &__copyright {
    padding-bottom: 64px;
  }

  &__copyright-text {
    opacity: 0.4;
  }
}

.our-team {
  position: relative;
  padding-top: 89px;
  padding-bottom: 100px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 85%;
    background-color: rgb(255, 255, 255);
    opacity: 0.4;
  }

  &__container {
    padding-right: 197px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'title btn'
      'text btn';
    row-gap: 32px;

    @media (max-width: 992px) {
      padding-right: 50px;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-areas:
        'title'
        'text'
        'btn';
    }
  }

  &__heading {
    grid-area: title;
    max-width: 320px;
  }

  &__text {
    grid-area: text;
    margin: 0;
    color: var(--textInverted);
  }

  &__btn {
    grid-area: btn;
    align-self: center;
    justify-self: end;

    @media (max-width: 768px) {
      justify-self: start;
    }
  }
}

.our-team-modal {
  background-color: rgba(0, 0, 0, 0.6);

  &__container {
    position: relative;
    max-width: 540px;
    min-height: 300px;
    padding: 56px;
    color: var(--heading);
    background-color: var(--headingInverted);
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;

    @media (max-width: 768px) {
      max-width: 400px;
      padding: 20px;
    }

    @media (max-width: 576px) {
      max-width: 320px;
    }
  }

  &__btn {
    position: absolute;
    top: 20px;
    right: 50px;

    @media (max-width: 768px) {
      right: 20px;
    }
  }

  &__form {
    display: none;

    &_active {
      display: block;
    }
  }

  &__success {
    display: none;
    text-align: center;
    font-size: 2em;

    &_active {
      display: block;
    }
  }
}

.modal-form {
  &__heading {
    margin: 0;
    margin-bottom: 48px;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
  }
}

.contact-form {
  &__input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 9px;
    margin-bottom: 32px;

    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
  }

  &__label {
    line-height: 1.88;
    color: var(--inputLabel);
  }

  &__textarea {
    resize: none;
    height: 144px;
    font: inherit;
  }

  &__btn {
    margin-top: 40px;
    padding: 1.44em;
    width: 100%;
    text-transform: uppercase;
  }
}

.info {
  padding-top: 96px;
  padding-bottom: 64px;

  &__container {
    display: grid;
    grid-template-columns: 323px 165px 220px;
    column-gap: 77px;

    @media (max-width: 992px) {
      grid-template-columns: 1fr;
      row-gap: 50px;
    }
  }

  &__logo {
    margin-bottom: 33px;
    gap: 17px;
    font-size: 28px;
    line-height: 1.64;
    letter-spacing: 0.02em;
    color: var(--headingInverted);
  }
}

.contacts {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 22px;

  &__item {
    display: flex;
    gap: 23px;
  }

  &__item-value {
    margin: 0;
  }

  &__address {
    font-style: normal;
  }

  &__link {
    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--textInverted);
    }

    &:active {
      color: var(--btn);
    }
  }
}

.info-column {
  &__heading {
    margin: 0;
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.05em;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__link {
    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--textInverted);
    }

    &:active {
      color: var(--btn);
    }
  }
}