@import 'variabiles.scss';

.header {
  display: flex;
  padding: 64px 83px 22px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  padding: 8px 4px;

  &path {
    transition: fill 0.3s ease-in-out;
  }

  &:hover path {
    fill: var(--btn);
  }

  &:active path {
    fill: black;
  }
}