:root {
  --heading: rgba(31, 63, 104, 1);
  --headingLigher: rgba(49, 96, 153, 1);
  --headingInverted: rgba(255, 255, 255, 1);
  --text: rgba(31, 63, 104, 0.6);
  --textPlaceholder: rgba(31, 63, 104, 0.2);
  --textInverted: rgba(255, 255, 255, 0.6);
  --textInvertedDarker: rgb(242, 242, 242);
  --btn: rgba(90, 152, 208, 1);
  --inputBorder: rgba(53, 110, 173, 0.4);
  --inputLabel: rgba(31, 63, 104, 0.8);
  --error: rgb(253, 78, 93);
  --success: rgb(118, 202, 102);
}

